<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <img src="img/logo.jpg" alt="Logo Evelio Bustos" style="height: 40px; width: auto;">
            <span>Evelio Bustos</span>
        </div>
        <ul class="nav-menu">
            <li><a href="#inicio" class="nav-link">Inicio</a></li>
            <li><a href="#servicios" class="nav-link">Servicios</a></li>
            <li><a href="#experiencia" class="nav-link">Experiencia</a></li>
            <li><a href="#contacto" class="nav-link">Contacto</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>

