<nav class="navbar" aria-label="Menú principal">
  <div class="nav-container">
    <div class="nav-logo">
  <a href="#hero">
    <img src="img/5b.png" alt="Logo" class="logo-img" />
    <span>Evelio Bustos</span>
  </a>
</div>

    <ul class="nav-menu">
      <li><a href="../index.html#hero" class="nav-link">Inicio</a></li>
      <li><a href="../index.html#servicios" class="nav-link">Servicios</a></li>
      <li><a href="../index.html#experiencia" class="nav-link">Experiencia</a></li>
      <li><a href="../index.html#testimonios" class="nav-link">Testimonios</a></li>
      <li><a href="../index.html#contacto" class="nav-link">Contacto</a></li>
    </ul>
    <div class="hamburger" aria-label="Menú móvil" role="button" tabindex="0">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>
